<?xml version="1.0" encoding="utf-8"?>
<Configuration status="warn">
	<Properties>
		<Property name="debug">[%d{yyyy-MM-dd HH:mm:ss}(%r)][%pid:%t][%l][%p]%m%n</Property>
		<Property name="error">[%d{yyyy-MM-dd HH:mm:ss}(%r)][%pid:%t][%C#%M][%p]%m%n</Property>
		<Property name="debug_adapt">[%d{yyyy-MM-dd HH:mm:ss}(%r)][%pid:%t][%X{location}][%p]%m%n</Property>
		<Property name="error_adapt">[%d{yyyy-MM-dd HH:mm:ss}(%r)][%pid:%t][%X{class}#%X{method}][%p]%m%n</Property>
	</Properties>
	<Appenders>
		<RollingFile name="DebugFile" fileName="./log/debug.log" filePattern="./log/debug-%d{yyyy-MM-dd}-%i.log">
			<ThresholdFilter level="all" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout>
				<MarkerPatternSelector defaultPattern="${debug}">
					<PatternMatch key="ADAPT" pattern="${debug_adapt}" />
				</MarkerPatternSelector>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="256 KB" />
			</Policies>
		</RollingFile>
		<RollingFile name="ErrorFile" fileName="./log/error.log" filePattern="./log/error-%d{yyyy-MM-dd}.log">
			<ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout>
				<MarkerPatternSelector defaultPattern="${error}">
					<PatternMatch key="ADAPT" pattern="${error_adapt}" />
				</MarkerPatternSelector>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
			</Policies>
			<DefaultRolloverStrategy max="30" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="all">
			<AppenderRef ref="DebugFile" />
			<AppenderRef ref="ErrorFile" />
		</Root>
	</Loggers>
</Configuration>